.experience-item {
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.experience-item:hover {
    background-color: rgba(255,255,255,.15);
}

.years {
    flex: 2;
}

.job-info {
    flex: 6;
}

.job-info p {
    margin-bottom: 0;
    margin-top: 0;
}