.experience-item {
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    transition: .12s;
}

.experience-item:hover {
    background-color: rgba(255,255,255,.15);
    transition: .12s;
}

.years {
    flex: 1;
}

.years p {
    font-size: .85rem;
}

.job-info {
    flex: 3;
}

.job-info p {
    margin-bottom: 0;
    margin-top: 0;
}