.screen {
    padding-left: 8rem;
    padding-right: 8rem;
}

.squeeze {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container{
    display: flex;
    flex-direction: row;
    color: white;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.card-left {
    flex: 1;
    box-sizing: border-box;
    max-height: 100vh;
    position: sticky;
    top: 0;
}

.card-right {
    flex: 1;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}