.home-card-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    height: 100vh;
}

.home-card-left {
    padding: .5rem;
    position: sticky;
}

.home-card-right {
    overflow: auto;
}

.testing {
    color: white;
}