ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nav-list li {
    padding-bottom: 0.5rem;
}

ul.nav-list li a {
    color: #E7DCD7;
    text-decoration: none;
}

ul.nav-list li a:hover {
    color: #fbf5f3;
}

ul.nav-list li a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}