.showcase-item {
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    transition: .12s;
}

.showcase-item:hover {
    background-color: rgba(255,255,255,.15);
    transition: .12s;
}

.professional-years {
    flex: 1;
}

.professional-years p {
    font-size: .85rem;
}

.professional-info {
    flex: 4;
}

.professional-info p {
    margin-bottom: 0;
    margin-top: 0;
}